<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="org.ulv.pro.langen.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/language-dao.xml"/>
        <mapper resource="mapper/sentence-dao.xml"/>
        <mapper resource="mapper/word-dao.xml"/>
        <mapper resource="mapper/lexer-dao.xml"/>
    </mappers>
</configuration>